<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestão de Funcionários</title>
    <link rel="stylesheet" href="/static/css/styles.css">

</head>
<body>
    <header>
        <div class="logo">
            <img src="/static/img/logo.jpg" width="40px">
        </div>
        <nav class="menu">
            <ul>
                <li><a href="{{ url_for('index') }}">Início</a></li>
                <li><a href="{{ url_for('sobre') }}">Sobre</a></li>
                <li><a href="{{ url_for('contato') }}">Contato</a></li>
            </ul>
        </nav>
        <div class="auth">
            <a href="{{ url_for('login') }}" class="auth-item login">
                <span>Login</span>
            </a>
        </div>
                     
    </header>
    <main>
<!-- Adicione este código dentro da tag <main> -->
    <table id="tabela_motoristas">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Modelo do Veículo</th>
                <th>Placa</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for motorista in motoristas %}
            <tr>
                <td>{{ motorista[0] }} {{ motorista[1] }}</td>
                <td>{{ motorista[2] }}</td>
                <td>{{ motorista[3] }}</td>
                <td>
                    {% if motorista[4] == 'Livre' %}
                        <span class="status-livre">{{ motorista[4] }}</span>
                    {% elif motorista[4] == 'Em Demanda' %}
                        <span class="status-em-demanda">{{ motorista[4] }}</span>
                    {% elif motorista[4] == 'Em Almoço' %}
                        <span class="status-em-almoco">{{ motorista[4] }}</span>
                    {% else %}
                        <span class="status-fora-de-servico">{{ motorista[4] }}</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
        <section class="descricao">
            <!-- Adicione aqui textos e imagens para descrever o sistema -->
        </section>
        <section class="mapa">
            <div id="map"></div>
        </section>       
        
    </main>
    <!-- Rodapé -->
    <footer>
        <p>&copy; 2023 Sistema de Gestão de Funcionários. Todos os direitos reservados.</p>
    </footer>
    <script src="/static/js/scripts.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=SUA_CHAVE_DA_API&callback=initMap"></script>
</body>
</html>
