/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo img {
    width: 150px;
}

.menu ul {
    display: flex;
}

.menu li {
    margin-left: 20px;
}

/* Autenticação */
.auth {
    display: flex;
    align-items: center;
}

.auth a {
    margin-left: 10px;
}

/* Corpo */
main {
    padding: 20px;
}

.descricao {
    margin-bottom: 20px;
}

.mapa #map {
    height: 500px;
    width: 100%;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
.login-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
}

.login-form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-form input[type="submit"] {
    width: auto;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-form input[type="submit"]:hover {
    background-color: #45a049;
}
.auth-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.feedback {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 4px;
}
/* Página do usuário */
.status-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.status-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin: 0 10px;
}

.status-button:hover {
    opacity: 0.8;
}

/* Tabela na página inicial */
.table-container {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 20px;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th, .table-container td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.table-container th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table-container tr:nth-child(even) {
    background-color: #f2f2f2;
}

.status-indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.status-livre {
    color: green;
}

.status-em-demanda {
    color: orange;
}

.status-em-almoco {
    color: blue;
}

.status-fora-de-servico {
    color: red;
}
